:root {
  --primary-color: #8238ef;
  --secondary-color: #a874f4;
  --background-color: #ece9ff;
  --content-box-background-color: #f5f7fb;
  --font-family: "Inter", sans-serif;
}

#wpcontent {
  background-color: var(--background-color);
}

.theme-left-column {
  width: 66.666667%;
}

.theme-right-column {
  width: 33.333333%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.theme-container {
  font-family: var(--font-family);
  background-color: var(--background-color);
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0px 20px 50px 0px;
}

.navbar-custom {
  margin: 20px 0px 38px 0px;
}

.logo {
  overflow: hidden;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.logo > img {
  width: 100%;
  height: 100%;
}

.theme-action-box {
  gap: 1rem;
}

.theme-action-btn {
  box-sizing: border-box;
  align-self: center;
  background: #ffffff;
  border: 2px solid #d6d5da;
  color: var(--primary-color);
  border-radius: 75px;
}

.theme-action-btn:hover {
  background: #f3e8ff;
  border: 2px solid #a855f7;
  box-shadow: 0px 4px 16px rgba(168, 85, 247, 0.24);
  color: var(--primary-color);
  transition-duration: 0.5s;
}

.rotate-45 {
  transform: rotate(45deg);
}

.theme-search-box {
  position: relative;
  width: 100%;
}

.theme-search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #aaa;
}

.theme-search-box input {
  box-sizing: border-box;
  width: 100%;
  height: inherit;
  border-radius: 30px;
  font-size: 16px;
  color: #000000;
  border: 2px solid #d8dadc;
  font-style: normal;
  font-weight: 500;
  background: #ffffff;
}

.theme-search-box input:focus {
  outline: none;
  border: 1.5px solid var(--primary-color);
}

.theme-search-box input::placeholder {
  color: #989898;
}

.navbar-action-gap {
  gap: 24px;
}

.widget-skin {
  border-radius: 30px;
  background: #ffffff;
}

.no-post-found-msg {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.no-post-found-msg > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--content-box-background-color);
  border-radius: 10px;
}

.no-post-found-msg > div > div {
  width: 150px;
  height: 150px;
  background: url(../images/fr-no-data-image.webp);
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.theme-banner {
  width: 100%;
  background-image: url(../images/fr-welcome-banner.webp);
  background-size: cover;
  background-position: center;
  display: none;
}

.banner {
  display: none;
}

.theme-banner-content-box {
  width: 100%;
  height: 100%;
  display: flex;
}

.banner-close-btn {
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--primary-color);
}

.banner-close-btn:hover {
  background-color: #f3e8ff;
  box-shadow: 0px 4px 16px rgba(168, 85, 247, 0.24);
  cursor: pointer;
  transition-duration: 0.5s;
}

.banner-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text-box > h5 {
  color: #ffffff;
  margin: 0;
}

.banner-text-box > h4 {
  font-weight: 700;
  color: #ffffff;
}

.banner-text-box > h3 {
  font-weight: 700;
  color: #ffffff;
}

.banner-text-box > button {
  background-color: #ffffff;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  transition-duration: 0.5s;
}

.banner-text-box > button:hover {
  background-color: #f3e8ff;
  box-shadow: 0px 4px 16px rgba(168, 85, 247, 0.24);
}

.theme-banner.hidden,
.spliter.banner.hidden {
  display: none !important;
}

.spliter {
  height: 35px;
}

.btn-configure {
  background-color: white;
  color: #a855f7;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s;
}

.btn-configure:hover {
  background-color: #f3e8ff;
  transform: translateY(-2px);
}

.stats-card {
  display: flex;
  box-shadow: 0px 4px 40px 1px rgba(145, 145, 145, 0.13);
}

.stats-icon-box {
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-post {
  background-color: #ebeafc;
}

.stats-page {
  background-color: #f8e9fc;
}

.stats-product {
  background-color: #e9f6fa;
}

.stats-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  gap: 2px;
  border-radius: 16px;
}

.stats-number {
  color: #9b9b9b;
  font-weight: 500;
}

.stats-label {
  font-weight: 500;
}

.stats-icon-box img {
  width: 32px;
  height: 36px;
}

.theme-stale-content {
  width: 100%;
  height: auto;
  padding: 22px 19px;
  display: flex;
  flex-direction: column;
  transition: height 0.6s ease;
}

.minimized {
  height: 75px;
  overflow: hidden;
}

/* search result content */
.search-result-content {
  width: 100%;
  height: auto;
  padding: 22px 19px;
  display: flex;
  flex-direction: column;
}

.no-search-results-box {
  display: none;
  width: 100%;
  height: 140px;
  align-items: center;
  justify-content: center;
  background-color: var(--content-box-background-color);
  border-radius: 12px;
}

/* animations  */
.fade-up-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up-hidden.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.theme-filter-box {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
}

.theme-filter-box > div:nth-child(1) {
  display: flex;
  align-items: center;
}

.theme-filter-box > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: end;
}

.post-title-box {
  height: 68%;
  width: 100%;
}

.post-title:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition-duration: 0.5s;
}

.filter-skin {
  background-color: var(--background-color);
  border: none;
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: 500;
  height: 100%;
}

.theme-filter-btn {
  padding: 4px 20px;
}

select.theme-filter-select {
  background-color: var(--background-color);
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 13px;
  padding-right: 30px;
  padding-left: 20px;
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

.theme-minimize-btn {
  padding: 4px 10px;
}

.theme-filter-btn.active,
.theme-filter-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.filter-category {
  background-color: var(--background-color);
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 13px;
  padding-right: 30px;
  padding-left: 20px;
}

.theme-content-box {
  width: 100%;
  height: auto;
  margin-top: 25px;
  border-radius: 12px;
  background-color: var(--content-box-background-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.post-item-box {
  width: 100%;
  height: auto;
  display: grid;
  gap: 12px;
}

.post-item-template {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.search-item-template {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.no-posts-box {
  display: none;
  width: 100%;
  height: 140px;
  margin-top: -20px;
  align-items: center;
  justify-content: center;
}

.post-item {
  background-color: #ffffff;
  font-size: 30px;
  text-align: center;
  height: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px;
}

.post-item:hover {
  box-shadow: 0 8px 16px rgba(168, 85, 247, 0.15);
}

.content-title {
  font-weight: 600;
}

.theme-warning-img {
  cursor: pointer;
}

.theme-warning-img:hover {
  transform: scale(1.1);
}

.featured-image {
  background-color: var(--background-color);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.featured-image img {
  width: 100%;
  height: 100%;
}

.text-cut {
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-author {
  font-size: 10px;
  font-weight: 400;
  height: 15px;
  text-align: start;
  margin-top: -10px;
}

.review-action-btn {
  border: none;
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: 500;
  transition-duration: 0.5s;
  cursor: pointer;
}

.btn-review:hover {
  background-color: rgba(208, 200, 255, 0.824);
}

.btn-review {
  background-color: var(--background-color);
}

.btn-reviewed {
  background-color: rgba(177, 164, 252, 0.824);
}

.pin-action-btn {
  border: none;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  transition-duration: 0.5s;
}

.btn-pin {
  background-color: var(--primary-color);
}

.btn-pined {
  background-color: #a855f7;
}

.pin-action-btn:hover {
  background-color: #6b21a8;
  cursor: pointer;
}

/* pagination */

.theme-pagination-box {
  margin-top: 25px;
  width: 100%;
  height: 30px;
}

.pagination-glass {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.pagination-glass .page-item {
  list-style: none;
}

.pagination-glass .page-link {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 17px;
  background: var(--background-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.pagination-glass .page-link:hover {
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 8px 24px rgba(168, 85, 247, 0.15);
}

.pagination-glass .page-link.active {
  background-color: var(--primary-color);
  color: white;
}

/* right column */
/* chart */

.theme-chart {
  width: 92%;
  height: auto;
}

.chart-title {
  font-weight: 600;
  text-align: center;
}

.chart-description {
  color: #686868;
  text-align: center;
  margin-top: 0px;
  font-weight: 600;
}

.pie-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-legend {
  display: flex;
  flex-direction: row;
}

.chart-legend > div {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.legend-percentage {
  color: #000000;
  font-weight: 700;
}

.legend-indicator {
  border-radius: 50%;
}

.indicator-reviewed {
  background-color: var(--primary-color);
}

.indicator-unreviewed {
  background-color: #ece9ff;
}

.legend-label {
  color: #686868;
  font-weight: 500;
}

.chart-muted {
  color: #686868;
  text-align: center;
  font-weight: 500;
}

.no-chart-content-box {
  background-color: var(--content-box-background-color);
  height: 420px;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-bottom: -10px;
}

.no-chart-content-box > div {
  width: 80px;
  height: 100px;
  background: url(../images/fr-no-chart-data-image.webp);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 13px;
}

.popover {
  --bs-popover-bg: var(--background-color) !important;
  --bs-popover-border-color: var(--secondary-color) !important;
}

@media only screen and (max-width: 767px) {
  .navbar-custom {
    display: none;
  }

  .main-content-box {
    display: none;
  }

  .mobile-responsive-filter-box {
    display: flex;
  }

  #wpbody-content {
    padding-bottom: 0px;
  }
}

@media only screen and (min-width: 767px) {
  .navbar-custom {
    display: none;
  }

  .main-content-box {
    display: none;
  }

  .mobile-responsive-filter-box {
    display: flex;
  }

  #wpbody-content {
    padding-bottom: 0px;
  }
}

@media only screen and (min-width: 880px) {
  .navbar-custom {
    display: block;
  }

  .main-content-box {
    display: flex;
  }

  .mobile-responsive-filter-box {
    display: none;
  }

  .theme-search-box {
    max-width: 450px;
    height: 45px;
  }

  .navbar-action-gap {
    gap: 10px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .theme-action-box {
    gap: 0.55rem;
  }

  .theme-action-btn {
    width: 38px;
    height: 38px;
    font-size: 15px;
  }

  .theme-search-box input {
    padding: 10px 16px 10px 40px;
    font-size: 14px;
    line-height: 16.6px;
  }

  .theme-banner {
    height: 180px;
    padding: 15px;
  }

  .theme-banner-content-box {
    padding-left: 0px;
  }

  .banner-close-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .banner-text-box > h5 {
    font-size: 13px;
    margin: 0;
  }

  .banner-text-box > h4 {
    font-size: 20px;
    margin-top: 10px;
  }

  .banner-text-box > h3 {
    font-size: 30px;
    margin-top: -10px;
  }

  .banner-text-box > button {
    width: 140px;
    height: 28px;
    margin-top: 15px;
    font-size: 10px;
  }

  .spliter {
    height: 20px;
  }

  .post-item {
    width: 100%;
    min-width: 220px;
    height: auto;
  }

  .theme-filter-box {
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 20px;
  }

  .theme-filter-box > div:nth-child(1) {
    width: 100%;
    gap: 0.5rem;
  }

  .theme-filter-box > div:nth-child(2) {
    justify-content: end;
    width: 100%;
    gap: 0.5rem;
  }

  .content-title {
    font-size: 1rem;
  }

  .theme-warning-img {
    width: 16px;
    height: 16px;
  }

  .filter-skin {
    font-size: 9px;
  }

  .stats-card {
    padding: 12px;
    gap: 8px;
  }

  .stats-icon-box {
    width: 40px;
    height: 40px;
  }

  .stats-info-box {
    height: 40px;
  }

  .stats-number {
    font-size: 10px;
  }

  .stats-label {
    font-size: 12px;
  }

  .stats-icon-box img {
    width: 22px;
    height: 22px;
  }

  .theme-filter-btn {
    padding: 8px 14px;
  }

  select.theme-filter-select {
    font-size: 9px;
    padding-right: 23px;
    padding-left: 14px;
  }

  .post-item-template {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .search-item-template {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .featured-image {
    width: 55px;
    height: 55px;
  }

  .review-action-btn {
    font-size: 10px;
    height: 26px;
    width: 100px;
  }

  .pin-action-btn {
    font-size: 9px;
    width: 26px;
    height: 26px;
  }

  .post-title-box {
    height: 67%;
    width: 100%;
  }

  .post-title {
    font-size: 15px;
  }

  .text-cut {
    height: 40px;
    margin-top: 4px;
  }

  .theme-chart {
    padding: 20px 18px;
  }

  .chart-title {
    font-size: 18px;
  }

  .chart-description {
    font-size: 8px;
  }

  .pie-chart {
    width: 100%;
    height: 180px;
    margin-bottom: 0px;
  }

  .chart-legend {
    height: 55px;
    gap: 10px;
    margin-top: 15px;
  }

  .legend-percentage {
    font-size: 14px;
  }

  .legend-indicator {
    width: 10px;
    height: 10px;
  }

  .legend-label {
    font-size: 10px;
  }

  .chart-muted {
    font-size: 6px;
  }
}

@media only screen and (min-width: 1024px) {
  .theme-search-box {
    max-width: 450px;
    height: 45px;
  }

  .navbar-action-gap {
    gap: 15px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .theme-action-box {
    gap: 0.55rem;
  }

  .theme-action-btn {
    width: 38px;
    height: 38px;
    font-size: 15px;
  }

  .theme-search-box input {
    padding: 10px 16px 10px 40px;
    font-size: 14px;
    line-height: 18.6px;
  }

  .theme-banner {
    height: 230px;
    padding: 15px;
  }

  .theme-banner-content-box {
    padding-left: 8px;
  }

  .banner-close-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .banner-text-box > h5 {
    font-size: 16px;
    margin: 0;
  }

  .banner-text-box > h4 {
    font-size: 25px;
    margin-top: 15px;
  }

  .banner-text-box > h3 {
    font-size: 40px;
    margin-top: -10px;
  }

  .banner-text-box > button {
    width: 160px;
    height: 38px;
    margin-top: 20px;
    font-size: 13px;
  }

  .spliter {
    height: 20px;
  }

  .post-item {
    width: fit-content;
    min-width: 140px;
    height: auto;
  }

  .theme-filter-box {
    flex-direction: row;
    gap: 0m;
    margin-bottom: 0px;
  }

  .theme-filter-box > div:nth-child(1) {
    width: 33.333333%;
    gap: 0.5rem;
  }

  .theme-filter-box > div:nth-child(2) {
    justify-content: end;
    width: 66.666667%;
    gap: 0.5rem;
  }

  .content-title {
    font-size: 1rem;
  }

  .theme-warning-img {
    width: 16px;
    height: 16px;
  }

  .filter-skin {
    font-size: 9px;
  }

  .stats-card {
    padding: 12px;
    gap: 12px;
  }

  .stats-icon-box {
    width: 50px;
    height: 50px;
  }

  .stats-info-box {
    height: 50px;
  }

  .stats-number {
    font-size: 10px;
  }

  .stats-label {
    font-size: 12px;
  }

  .stats-icon-box img {
    width: 22px;
    height: 22px;
  }

  .theme-filter-btn {
    padding: 2px 14px;
  }

  select.theme-filter-select {
    font-size: 9px;
    padding-right: 23px;
    padding-left: 14px;
  }

  .post-item-template {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .search-item-template {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .featured-image {
    width: 35px;
    height: 35px;
  }

  .review-action-btn {
    font-size: 8px;
    height: 20px;
    width: 72px;
  }

  .pin-action-btn {
    font-size: 8px;
    width: 20px;
    height: 20px;
  }

  .post-title-box {
    height: 67%;
    width: 100%;
  }

  .post-title {
    font-size: 12px;
  }

  .text-cut {
    height: 35px;
    margin-top: 4px;
  }

  .theme-chart {
    padding: 20px 18px;
  }

  .chart-title {
    font-size: 18px;
  }

  .chart-description {
    font-size: 8px;
  }

  .pie-chart {
    width: 100%;
    height: 180px;
    margin-bottom: 0px;
  }

  .chart-legend {
    height: 55px;
    gap: 10px;
    margin-top: 15px;
  }

  .legend-percentage {
    font-size: 14px;
  }

  .legend-indicator {
    width: 10px;
    height: 10px;
  }

  .legend-label {
    font-size: 10px;
  }

  .chart-muted {
    font-size: 6px;
  }
}

@media only screen and (min-width: 1200px) {
  .theme-search-box {
    max-width: 500px;
    height: 45px;
  }

  .navbar-action-gap {
    gap: 18px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .theme-action-box {
    gap: 1rem;
  }

  .theme-action-btn {
    width: 38px;
    height: 38px;
    font-size: 15px;
  }

  .theme-search-box input {
    padding: 10px 16px 10px 40px;
    font-size: 16px;
    line-height: 21.6px;
  }

  .theme-banner {
    height: 230px;
    padding: 15px;
  }

  .theme-banner-content-box {
    padding-left: 8px;
  }

  .banner-close-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .banner-text-box > h5 {
    font-size: 16px;
    margin: 0;
  }

  .banner-text-box > h4 {
    font-size: 25px;
    margin-top: 15px;
  }

  .banner-text-box > h3 {
    font-size: 40px;
    margin-top: -10px;
  }

  .banner-text-box > button {
    width: 160px;
    height: 38px;
    margin-top: 20px;
    font-size: 13px;
  }

  .spliter {
    height: 25px;
  }

  .post-item {
    width: fit-content;
    min-width: 150px;
    height: 110px;
  }

  .theme-filter-box {
    flex-direction: row;
    gap: 0m;
    margin-bottom: 0px;
  }

  .theme-filter-box > div:nth-child(1) {
    width: 33.333333%;
    gap: 0.5rem;
  }

  .theme-filter-box > div:nth-child(2) {
    justify-content: end;
    width: 66.666667%;
    gap: 0.5rem;
  }

  .content-title {
    font-size: 1.15rem;
  }

  .theme-warning-img {
    width: 16px;
    height: 16px;
  }

  .filter-skin {
    font-size: 11px;
  }

  .stats-card {
    padding: 14px;
    gap: 14px;
  }

  .stats-icon-box {
    width: 58px;
    height: 58px;
  }

  .stats-info-box {
    height: 58px;
  }

  .stats-number {
    font-size: 12px;
  }

  .stats-label {
    font-size: 16px;
  }

  .stats-icon-box img {
    width: 28px;
    height: 28px;
  }

  .theme-filter-btn {
    padding: 3px 16px;
  }

  select.theme-filter-select {
    font-size: 11px;
    padding-right: 25px;
    padding-left: 16px;
  }

  .post-item-template {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .search-item-template {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .featured-image {
    width: 50px;
    height: 50px;
  }

  .review-action-btn {
    font-size: 10px;
    height: 25px;
    width: 90px;
  }

  .pin-action-btn {
    font-size: 10px;
    width: 25px;
    height: 25px;
  }

  .post-title-box {
    height: 67%;
    width: 100%;
  }

  .post-title {
    font-size: 14px;
  }

  .text-cut {
    height: 40px;
    margin-top: 5px;
  }

  .theme-chart {
    padding: 25px 18px;
  }

  .chart-title {
    font-size: 20px;
  }

  .chart-description {
    font-size: 10px;
  }

  .pie-chart {
    width: 100%;
    height: 230px;
    margin-bottom: 10px;
  }

  .chart-legend {
    height: 65px;
    gap: 15px;
    margin-top: 15px;
  }

  .legend-percentage {
    font-size: 16px;
  }

  .legend-indicator {
    width: 12px;
    height: 12px;
  }

  .legend-label {
    font-size: 12px;
  }

  .chart-muted {
    font-size: 8px;
  }
}

@media only screen and (min-width: 1366px) {
  .container-fluid {
    max-width: 1366px;
  }

  .navbar-action-gap {
    gap: 22px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .theme-action-box {
    gap: 0.8rem;
  }

  .theme-action-btn {
    width: 48px;
    height: 48px;
    font-size: 19px;
  }

  .theme-search-box {
    max-width: 770px;
    height: 48px;
  }

  .theme-search-box input {
    padding: 12px 16px 12px 40px;
    font-size: 18px;
    line-height: 21.6px;
  }

  .theme-banner {
    height: 290px;
    padding: 15px;
  }

  .theme-banner-content-box {
    padding-left: 15px;
  }

  .banner-close-btn {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }

  .banner-text-box > h5 {
    font-size: 18px;
    margin: 0;
  }

  .banner-text-box > h4 {
    font-size: 32px;
    margin-top: 20px;
  }

  .banner-text-box > h3 {
    font-size: 50px;
    margin-top: -10px;
  }

  .banner-text-box > button {
    width: 180px;
    height: 48px;
    margin-top: 30px;
    font-size: 15px;
  }

  .spliter {
    height: 35px;
  }

  .post-item {
    width: fit-content;
    min-width: 250px;
    height: 140px;
  }

  .theme-filter-box {
    flex-direction: row;
    gap: 0m;
    margin-bottom: 0px;
  }

  .theme-filter-box > div:nth-child(1) {
    width: 33.333333%;
    gap: 0.5rem;
  }

  .theme-filter-box > div:nth-child(2) {
    justify-content: end;
    width: 66.666667%;
    gap: 0.5rem;
  }

  .content-title {
    font-size: 1.25rem;
  }

  .theme-warning-img {
    width: 20px;
    height: 20px;
  }

  .stats-card {
    padding: 14px;
    gap: 14px;
  }

  .stats-icon-box {
    width: 68px;
    height: 68px;
  }

  .stats-info-box {
    height: 68px;
  }

  .stats-number {
    font-size: 16px;
  }

  .stats-label {
    font-size: 20px;
  }

  .stats-icon-box img {
    width: 32px;
    height: 36px;
  }

  .filter-skin {
    font-size: 14px;
  }

  .theme-filter-btn {
    padding: 4px 20px;
  }

  select.theme-filter-select {
    font-size: 13px;
    padding-right: 30px;
    padding-left: 20px;
  }

  .post-item-template {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .search-item-template {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .featured-image {
    width: 75px;
    height: 75px;
  }

  .review-action-btn {
    font-size: 14px;
    height: 32px;
    width: 130px;
  }

  .pin-action-btn {
    font-size: 13px;
    width: 32px;
    height: 32px;
  }

  .post-title-box {
    height: 67%;
    width: 100%;
  }

  .text-cut {
    height: 50px;
    margin-top: 5px;
  }

  .post-title {
    font-size: 18px;
  }

  .theme-chart {
    padding: 32px 20px;
  }

  .chart-title {
    font-size: 24px;
  }

  .chart-description {
    font-size: 14px;
  }

  .pie-chart {
    width: 100%;
    height: 270px;
    margin-bottom: 10px;
  }

  .chart-legend {
    height: 80px;
    gap: 20px;
    margin-top: 25px;
  }

  .legend-percentage {
    font-size: 20px;
  }

  .legend-indicator {
    width: 15px;
    height: 15px;
  }

  .legend-label {
    font-size: 14px;
  }

  .chart-muted {
    font-size: 9px;
  }
}
