:root {
  --primary-color: #8238ef;
  --secondary-color: #a874f4;
  --background-color: #ece9ff;
  --font-family: "Inter", sans-serif;
}

.plugin-name {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--primary-color);
}

.italic {
  font-style: italic;
}

.plugin-name span {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--secondary-color);
  font-style: normal;
}

.theme-tab-box {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.theme-tab-box li {
  list-style: none;
}

.theme-tab-box > li > button {
  background-color: #f5f7fb;
  font-family: var(--font-family);
  font-size: 0.9rem !important;
  cursor: pointer;
  border-radius: 30px !important;
  padding: 6px 20px !important;
  transition: background-color 0.3s ease;
  border: 1px solid var(--background-color);
  font-weight: 500;
  color: var(--primary-color);
}

.theme-tab-box > li > button:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.nav-link.active {
  background-color: var(--primary-color) !important;
  color: #ffffff !important;
}

.theme-settings-content-box {
  margin-top: 10px;
  height: auto;
  padding: 15px 15px 15px 20px;
  width: 100%;
  border-radius: 12px;
  background-color: #f5f7fb;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

input.settings-input {
  background-color: var(--background-color);
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  width: 60px;
  padding-left: 15px;
  border: 1px solid var(--secondary-color);
}

select.theme-settings-filter-select {
  border: 1px solid var(--secondary-color);
  margin-left: 10px;
  margin-top: -3px;
  background-color: var(--background-color);
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 13px;
  padding-right: 30px;
  padding-left: 20px;
}

/* style the checkboxes */
input[type="checkbox"],
input[type="radio"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: var(--primary-color);
  color: var(--primary-color);
  border: 1px solid rgb(174, 174, 174);
}

input[type="checkbox"]:hover {
  border: 1px solid var(--primary-color);
}

input[type="checkbox"]:checked {
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
}

input[type="radio"]:checked {
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 400;
  margin-left: 8px;
  margin-bottom: 5px;
}

label:hover {
  color: var(--primary-color);
}

.reason-mark {
  color: var(--primary-color);
  font-style: italic;
  font-size: 15px;
  font-weight: 700;
  margin-left: 4px;
  margin-top: 5px;
}

input[type="submit"] {
  width: 150px;
  height: 40px;
  background-color: var(--primary-color);
  font-weight: 600;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
}

input[type="submit"]:hover {
  box-shadow: 0px 4px 16px rgba(168, 85, 247, 0.24);
}

.settings-msg {
  font-size: 15px;
  font-weight: 600;
  display: none;
  margin-right: 10px;
}

.success {
  color: rgb(0, 183, 0);
}

.error {
  color: red;
}

.msg-visible {
  display: block;
}
