:root {
  --primary-color: #8238ef;
  --secondary-color: #a874f4;
  --background-color: #ece9ff;
  --font-family: "Inter", sans-serif;
}

.plugin-name {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--primary-color);
}

.italic {
  font-style: italic;
}

.plugin-name span {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--secondary-color);
  font-style: normal;
}

.theme-tab-box {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.theme-tab-box li {
  list-style: none;
}

.theme-tab-box > li > button {
  background-color: #f5f7fb;
  font-family: var(--font-family);
  font-size: 0.9rem !important;
  cursor: pointer;
  border-radius: 30px !important;
  padding: 6px 20px !important;
  transition: background-color 0.3s ease;
  border: 1px solid var(--background-color);
  font-weight: 500;
  color: var(--primary-color);
}

.theme-tab-box > li > button:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.nav-link.active {
  background-color: var(--primary-color) !important;
  color: #ffffff !important;
}

.theme-settings-content-box {
  margin-top: 10px;
  height: auto;
  padding: 20px;
  width: 100%;
  border-radius: 12px;
  background-color: #f5f7fb;
  display: flex;
  flex-direction: column;
}

input.settings-input {
  background-color: var(--background-color);
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  width: 60px;
  padding-left: 15px;
  border: 1px solid var(--secondary-color);
}

select.theme-settings-filter-select {
  border: 1px solid var(--secondary-color);
  margin-left: 10px;
  margin-top: -3px;
  background-color: var(--background-color);
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 13px;
  padding-right: 30px;
  padding-left: 20px;
}

/* style the checkboxes */
input.fresre-settings-input {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: var(--primary-color);
  color: var(--primary-color);
  border: 1px solid rgb(174, 174, 174);
}

input.fresre-settings-input:hover {
  border: 1px solid var(--primary-color);
}

input.fresre-settings-input:checked {
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
}

label.fresre-settings-label {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 400;
  margin-left: 8px;
  margin-bottom: 5px;
  display:block
}

label.fresre-settings-label:hover {
  color: var(--primary-color);
}

.reason-mark {
  color: var(--primary-color);
  font-style: italic;
  font-size: 15px;
  font-weight: 700;
  margin-left: 4px;
  margin-top: 5px;
}

input.fresre-settings-save-btn {
  width: 150px;
  height: 40px;
  background-color: var(--primary-color);
  font-weight: 600;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
}

input.fresre-settings-save-btn:hover {
  box-shadow: 0px 4px 16px rgba(168, 85, 247, 0.24);
}

.settings-msg {
  font-size: 15px;
  font-weight: 600;
  display: none;
  margin-right: 10px;
}

.success {
  color: rgb(0, 183, 0);
}

.error {
  color: red;
}

.msg-visible {
  display: block;
}

.admin-widget-btn-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sttings-btn-box {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 40px;
}

.admin-widget-btn-box > p {
  width: 150px;
  background-color: var(--primary-color);
  font-weight: 600;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 40px;
}

.admin-widget-btn-box > p:hover {
  box-shadow: 0px 4px 16px rgba(168, 85, 247, 0.24);
}

.admin-widget-btn-box > p > a {
  text-decoration: none;
  color: inherit;
}



